@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sira = 1;
}


<div class="card-header border-0">
    <div>
        <div class="float-left">
            <h3 class="mb-0">Deneyimlerim</h3>

        </div>
        <div class="float-right">
            <a href="/Experience/AddExperience" class="btn btn-warning btn-sm mb-0"> + Deneyim Ekle</a>

        </div>
    </div>

</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="completion">Resim</th>
                <th scope="col" class="sort" data-sort="budget">Şirket</th>
                <th scope="col" class="sort" data-sort="budget">Ünvan</th>
                <th class="col-2" scope="col" data-sort="completion">Tarih</th>
                <th scope="col" class="sort" data-sort="completion">Açıklama</th>
                <th scope="col" class="sort" data-sort="status">Sil</th>
                <th scope="col" class="sort" data-sort="status">Düzenle</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="name mb-0 text-sm">@sira</span>
                            </div>
                        </div>
                    </th>
                    <td class="budget">
                        <img src="@item.ImageUrl" width="60" height="60" />
                    </td>
                    <td class="budget">
                        @item.Name
                    </td>
                    <td class="budget">
                        @item.Title
                    </td>
                    <td class="budget col-2">
                        @item.Date
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm popovers" data-placement="bottom" data-trigger="hover" title="Açıklama" data-content="@item.Description">Açıklama </a>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a class="btn btn-danger btn-sm text-white" href="/Experience/DeleteExperience/@item.Id" id="DeleteBtn"
                               onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="ni ni-fat-remove"></i> Sil</a>

                        </div>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a href="/Experience/EditExperience/@item.Id" class="btn btn-warning btn-sm text-white"><i class="ni ni-settings-gear-65"></i> Düzenle </a>
                        </div>
                    </td>
                </tr>
                sira++;
            }

        </tbody>
    </table>
</div>
